<% content_for :sidebar do %>

<div class="col-md-3" id="sidebar">
	<div class="bs-sidebar hidden-print affix" role="complementary" style>
		<ul class="nav bs-sidenav" id="spyOnThis">
			<li><%= link_to "Heroku Settings", "#" %>
				<ul class="nav">
					<li class><%= link_to "Gems", "#" %></li>
					<li class><%= link_to "Settings", "#" %></li>
					<li class><%= link_to "Config", "#" %></li>
					<li class><%= link_to "Precompile", "#" %></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<% end %>


<h1 id="string">Heroku Stuff</h1>
<br>
<p class="lead">
1. Make sure you have the following in your gemfile:
<pre>
gem 'pg', '0.15.1'

group :production do
  gem 'rails_12factor', '0.0.2'
</pre> 
<p class="lead">
2. Make sure you have the correct settings in config/environments/production.rb
<pre>
config.serve_static_assets = true
config.assets.compile = true
config.assets.digest = true
</pre>
<p class="lead">
3. Make sure you add the following to config/application.rb
<pre>
class Application < Rails::Application
  config.assets.precompile += %w(*.png *.jpg *.jpeg *.gif)
end
</pre>
<p class="lead">
4. Precompile your assets through the console before deployment
<pre>
$ RAILS_ENV=production bundle exec rake assets:precompile
</pre>