<% content_for :sidebar do %>

<div class="col-md-3" id="sidebar">
	<div class="bs-sidebar hidden-print affix" role="complementary" style>
		<ul class="nav bs-sidenav" id="spyOnThis">
			<li><%= link_to "Style", "#" %>
				<ul class="nav">
					<li class><%= link_to "Puzzle Project", "#" %></li>
					<li class><%= link_to "CSS", "#" %></li>
					<li class><%= link_to "Sass", "#" %></li>
					<li class><%= link_to "SMACSS", "#" %></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<% end %>

<h1>jQuery</h1>

<p class="lead">Getting jQuery to work with rails was kind of a chore. It required a little bit of magic. I outlined the exact process in the <%= link_to "ruby", ruby_path %> section. Here are some projects I've worked on that use jQuery.</p>

<ul>
	<h2>
		<li><%= link_to "Project 1", puzzle_path %>
		</li>
	</h2>
</ul>