<% content_for :title, "JavaScript" %>
<% content_for :sidebar do %>

<div class="col-md-3" id="sidebar">
	<div class="bs-sidebar hidden-print affix" role="complementary" style>
		<ul class="nav bs-sidenav" id="spyOnThis">
			<li class>
				<%= link_to "DataTypes", "#dataTypes" %>
				<ul class="nav">
					<li class><%= link_to "Strings", "#string" %></li>
					<li class><%= link_to "Booleans", "#booleans" %></li>
					<li class><%= link_to "Unary Operators", "#unary" %></li>
					<li class><%= link_to "Basic Math", "#BasicMath" %></li>
					<li class><%= link_to "Equality Operators", "#equality" %></li>
					<li class><%= link_to "Conditional Operators", "#conditional" %></li>
				</ul>
			</li>
			<li class><%= link_to "Variables, Scope, Memory", "#vsm" %>
				<ul class="nav">
					<li class><%= link_to "Variables", "#variables" %></li>
					<li class><%= link_to "Scope", "#scope" %></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<% end %>

<div class="page-header">
	<h1 id="heroku">JavaScript Notes
	<br>
		<small>
			Javascript is great. Here's a brief list of some fundamentals to keep in mind as you get started.
		</small>
	</h1>
</div>

<!-- DataTypes -->
<%= render 'jsdatatypes' %>

<!-- Variables, Scope, and Memory -->
<%= render 'vsm' %>

