<% content_for :title, "Contact" %>
<% content_for :sidebar do %>
<div class="col-md-3" id="sidebar"></div>
<% end %>

<div class="page-header">
	<h1>
		<i class="fa fa-envelope"></i> Email Joe
	</h1>
</div>

<%= form_for(@message, url: contact_path, html: {class: 'form', id: "contact-form"}) do |form| %>

	<%= render 'contact/error_messages', object: form.object %>

		<div class="form-group">
      <%= form.label(:name, class: "pull-left") %>
      <%= form.text_field(:name, autofocus: true, placeholder: "Your Name...", class: "form-control") %>
    </div>
    
    <div class="form-group">
      <%= form.label(:email, class: "pull-left") %>
      <%= form.text_field(:email, placeholder: "Email Address...", class: "form-control") %>
    </div>
    <div class="form-group">
      <%= form.label(:subject, class: "pull-left") %>
      <%= form.text_field(:subject, placeholder: "Subject", class: "form-control") %>
    </div>
    
		<div class="form-group">
      <%= form.label(:body, class: "pull-left") %>
      <%= form.text_area(:body, placeholder: "Your message here...", class: "form-control") %>
    </div>

    <%= form.submit "Send", class: "btn btn-default btn-lg pull-left", id: "contact-submit", disabled: true %>
<% end %>
<br>

<div class="row"></div>
<hr id="icons" />
<p><%= link_to '<i class="fa fa-linkedin-square fa-5x"></i>'.html_safe, "http://www.linkedin.com/pub/joe-susnick/40/279/a4/", target: 'blank' %> <%= link_to '<i class="fa fa-github-square fa-5x"></i>'.html_safe, "http://github.com/joesus", target: 'blank' %>
	    <%= link_to '<i class="fa fa-phone-square fa-5x"></i>'.html_safe, 'tel://720.505.9533' %>
</p>
